/* global styles */
*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-black: #000000;
  --color-richBlack: #020302;
  --color-white: #ffffff;
  --color-lightGrey: #e9e6e1;
  --color-lightGrey2: #d4cfc4;
  --color-mediumGrey: #9d9688;
  --color-mediumGrey2: #6d675a;
  --color-darkGrey: #38352e;
  --color-phosphor: #ffb000;
  --color-darkPhosphor: #e59e00;
  --color-highlightSearch: #eba200;
  --color-gridLine: #ffbdb9;
  --color-error: #cc4700;
  --color-transparent: transparent;
  --color-brown: #553b37;
  --color-beige: #d8d4cd;
  --color-blue: #0350ab;
  --color-grey: #959595;
  --color-green: #5cb84d;
  --color-orange: #ffb000;
  --color-pink: #ff00ff;
  --color-purple: #7700ff;
  --color-red: #ff0000;
  --color-yellow: #ffd900;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

/* end of global styles */

/* site wrapper */

/* end of site wrapper */

/* nav */

.nav-container {
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background-color: transparent;
}

.nav-flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-flex-child {
  align-self: center;
}

.list-flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list-flex-child {
  align-self: center;
}

ul {
  list-style-type: none;
}

.list-item-flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  position: relative;
}

.list-item-flex-child {
  align-self: center;
}

.svg-button-tail {
  position: absolute;
  top: 50%;
  right: -10px;
  display: block;
  width: 10px;
  color: #ffffff;
  transform: translateY(-50%);
  border: #ffffff;
}

.nav-list-button {
  line-height: 1;
  gap: 0px 0.3125rem;
  padding: 0.6875rem 1rem 0.59375rem;
  font-size: calc(7.7px + 0.229167vw);
  letter-spacing: 0.02em;
  border: #ffffff;
}

/* end of nav */

/* main */

/* main{} */

section {
  width: 100vw;
}

/* .hero-container {} */

.hero-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#hero-image-1 {
  background-image: url("./images/hell-a.webp");
}
#hero-image-2 {
  background-image: url("./images/busan.webp");
}
#hero-image-3 {
  background-image: url("./images/hero.jpeg");
}

.hero-flex-parent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.hero-flex-child {
  /* color: white; */
  align-self: center;
}

.hero-heading {
  color: white;
  text-decoration: none;
}

.hero-heading h1 {
  font-size: 4rem;
  font-family: "IBM Plex Serif", serif;
}

.hero-heading h2 {
  padding: 50px 0;
  text-decoration: underline;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}

/* new arrivals section */
.new-arrivals {
  width: 100vw;
  /* height: 100vh; */
  /* max-height: 100vh; */
  /* overflow: hidden; */
  padding: 2rem 1rem;
  background-color: var(--color-lightGrey);
}

.new-arrivals-container-flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-arrivals-heading-flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.new-arrivals-heading-flex-child {
  align-self: center;
}

.carousel-array-flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.carousel-array-item-flex-child {
  flex: 1;
  min-width: 200px;
  /* move this chunk */
  margin: 10px;
  overflow: hidden;
  position: relative;
  /* move this chunk */
}

.carousel-item-flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

/* .carousel-item-flex-child {} */

/* .carousel-image-container {} */

.carousel-item-flex-parent:hover .arrow {
  display: block;
}

.carousel-image {
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  color: #333;
  display: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 2px;
  background-color: #ccc;
}

.dots .dot.active {
  background-color: #333;
}

.carousel-item-title {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  font-size: 10px;
}

.carousel-item-price {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  font-size: 10px;
}

/* end of new arrivals section */

/* explore section */

.explore {
  background-color: var(--color-lightGrey);
}

.explore-flex-container-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.explore-flex-container-child {
  align-self: center;
}

.explore-title-text {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  font-size: 10px;
}

.explore-flex-container-links-array-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 1rem;
}

.explore-flex-container-links-array-child {
  align-self: center;
}

.explore-link-flex-button-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--color-white);
  border-radius: 5%;
  padding: 2px 10px;
}

.explore-link-flex-button-child {
  align-self: center;
}

.explore-link-flex-button-child-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0px;
}

/* end of explore section */

/* latest journal entries */
.latest-journal-entries {
  background-color: var(--color-lightGrey);
  padding: 3rem 1rem;
}

#lje-heading {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  font-size: 12px;
  text-align: center;
  padding-bottom: 2rem;
}

#lje-text {
  color: rgb(255, 176, 0);
  padding-left: 0.5rem;
}

/* end of latest journal entries */

/* end of main */
